/* This page will be used for the styling of the popup forms
*/

#popupbutton {
    width:200px;
    height:60px;
    border-radius:20px;
    background-color:#006D89;
    color:#fff;
    font-family:Verdana, Arial, Helvetica, Sans-Serif;
    font-size:18px;
    cursor:pointer;
}