/* This page will be used for the styling of the popup forms
*/

#pppopupDiv {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

#peppopupDiv {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

#rpppopupDiv {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

#reppopupDiv {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
}

div#popupInnerDiv {
    position:absolute;
    left:50%;
    top:17%;
    padding-bottom:200px;
    margin-left:-202px;
    font-family:'Raleway',sans-serif;
}

form#popupform {
    max-width:300px;
    min-width:350px;
    left:50%;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
}

h2 {
    background-color:#cce6ff;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0;
    font-family:raleway;
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc;
}

/*input[type=text]*/#inputtext {
    width:82%;
    padding:10px;
    /*margin-top:30px;*/
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
}

input#submit {
    font-family:raleway;
}

/* This is for the profile images in the remove popup */
#profileimg {
    max-height:300px;
    max-width:300px;
}

/* This is for the event images in the remove popup */
#eventimg {
    max-height:300px;
    max-width:250px;
}

/* This is for the table checkboxes */
#tbcheck {
    top:50%;
    left:50%;
    padding-right:20px;
}

/* This is for the table images */
#tbpic {
    margin-left:10px;
    padding-bottom:50px;
}

#ppuploadfile {
    width:82%;
    padding:10px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
}

#epuploadfile {
    width:82%;
    padding:10px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
}

#ppupload {
    background-image:url(./Images/upload_photo.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
}

#epupload {
    background-image:url(./Images/upload_photo.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
}

#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#006D89;
    color:#fff;
    border:1px solid #006D89;
    padding:10px 0;
    cursor:pointer;
    border-radius:5px;
    font-family:Verdana, Arial, Helvetica, Sans-Serif;
    font-size:18px;
}

#popupbutton {
    width:200px;
    height:60px;
    border-radius:20px;
    background-color:#006D89;
    color:#fff;
    font-family:Verdana, Arial, Helvetica, Sans-Serif;
    font-size:18px;
    cursor:pointer;
}