#divCenter {
    padding-left:240px;
    padding-right:240px;
}

#headingCenter {
    padding-left:230px;
    padding-right:230px;
}

#cssmenu li a:hover {
    min-height:37px;
}


#slider{
	/* max-width:750px;
	min-width: 450px; */
	
	left:1%;
	margin-left:25px;
	margin-right:35px;
}

#sliderText{
text-align:center;	
}
