body {
    width: auto;
    margin: 0 auto;
    background-color: #FFF;
    font-size: 17px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #5d717e;
    text-align: center;
    min-width: 800px;
    height: 100%;
}

#cssmenu {
    width: auto;
    height: 50px;
    min-width: 1100px;
}

#cssmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    background-color: #006D89;
}

#cssmenu li {
    float: left;
    font-size: 150%;
}

#cssmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#cssmenu li a:hover {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background-color: #ffffff/*#5d717e the original gray*/;
    color: #006D89; /*could change the text color instead*/
}

#cssmenu .active {
    color: #ffffff;
}

#cred {
    text-align:center;   
    float: right;
    min-height: 500px;
    min-width:200px;
}

#button {
    width:200px;
    height:60px;
    border-radius:20px;
    background-color:#006D89;
    color:#fff;
    font-family:Verdana, Arial, Helvetica, Sans-Serif;
    font-size:18px;
    cursor:pointer;
}

#divRight{
    float:right;
    min-width:200px;
    text-align:center;
    min-height:500px;
    padding-right:10px;
}  

#divLeft {
    position:absolute;
    top:100px;
    min-width:200px;
    text-align:center;
    min-height:500px;
    padding-left:10px;
}

#divCenter {
    text-align:center;
    min-height:500px;
    min-width:600px;
    display:block;
    padding-bottom: 60px;
}


.cen-table {
    line-height: 37px;
    margin-left:auto;
    margin-right:auto;  
}

.cen-table a:nth-child(odd) {
    color:blue;
}

.cen-table th {
    text-decoration:underline;
    color:#000;
    background-color:#fff;
}

.cen-table td {
    text-align:center;
    width:200px;
}

.cen-table tr:nth-child(even) {
    color:#000;
}

.cen-table tr:nth-child(odd) {
    color:#fff;
    background-color: #aeb8be;
}

#headingCenter {
    text-align:center;
    min-width:600px;
    display:block;
}

#image {
    margin: auto; 
    display: block;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    
}
#body {
    
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width:1100px;
    background-color: #5d717e;
    font-size: 12px;
    color: #aeb8be;
    word-spacing:5em;
    min-height: 50px;
}

#copyright {
    word-spacing:0em;
    font-size: 10px;
}

.image-edge-fade{
    box-shadow: 0 0 8px 8px white inset;
}

#eventdescript{
    text-align:left;
}

/* The container and two following image ID's are used for the profile picture and edit button */
#ppcontainer {
    position:relative;
}

#profilepic {
    max-width:220px;
    max-height:220px;
    z-index:1;
}

#editpicbutton {
    height:35px;
    width:35px;
    position:absolute;
    top:151px;
    left:185px;
    z-index:2;
}
/*

TODO: OLD CODE USED FOR NAVIGATION BAR. LOT OF BULK CODE NOT NEEDED. DELETE AFTER GROUP REVIEWS.;

body {
    width: auto;
    margin: 0 auto;
    background-color: #FFF;
    font-size: 17px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #5d717e;
    text-align: center;
    min-width: 800px;
}

#cssmenu {
    background: #0CF;
    width: auto;
    height: 85px;
}

#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 2;
}

#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#cssmenu.align-right ul li {
    float: right;
}

#cssmenu.align-center ul {
    text-align: center;
}

#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#cssmenu ul li a:hover {
    color: #333333;
}

#cssmenu ul li a:hover:before {
    width: 100%;
}

#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}

#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}

#cssmenu ul li.active a {
    color: #333333;
}

#cssmenu ul li.active a:before {
    width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}

#cssmenu.align-right li:first-child a:after {
    display: none;
}

@media screen and (max-width: 200px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }

    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }

    #cssmenu ul li a:after {
        display: none;
    }

    #cssmenu ul li a:before {
        display: none;
    }
}*/